*.pyc
*.sqlite3
*.sqlite3-journal
.DS_Store
.env
*/.env
**/settings/local.py
/staticfiles/
/mediafiles/
/media/*
__pycache__/
/.vscode/

# coverage result
.coverage
/coverage/

# IDEs
.idea/
.vscode/

# data
*.dump


# npm
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json

# Sass
.sass-cache
*.map

# General
/codebrew-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

.direnv
.envrc
.tool-versions

# media
media/*
mediafiles/*
