.login-container {
  display: flex;
  flex-direction: row;
  width: 100%; /* Subtract the header height*/
  height: calc(100vh - 128px); /* 96px + 1rem top 1 rem bottom */
  flex-wrap: wrap;
}

.left-ty-box {
  display: flex;
  width: 50%;
  height: calc(100vh - 128px);
  background-color: #90caf9;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */

  color: var(--Golden-Squash, #e9b44c);
  text-align: center;
  text-shadow: 4px 4px 0px #3c3c3b;
  /* Display Heading Big */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--Text, #3c3c3b);
  font-family: "Milky Vintage";
  font-size: 112px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right-box {
  display: flex;
  width: 50%;
  height: calc(100vh - 128px);
  background-color: #a5d6a7;
  justify-content: center; /* center horizontally */
  align-items: center;
}

.auth-box {
  display: inline-flex;
  flex-direction:column;
  padding: 60px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
  background: var(--Card-Background, #e2d7c3);
  box-shadow: 7px 7px 0px 0px var(--Light-Text, #6a6a67);
}

.auth-box-header {
  color: var(--Text, #3c3c3b);
  /* H1 Heading */
  font-family: "Milky Vintage";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}