html,
body {
  background-color: #f4f1e6; /* Replace with your color */
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures full coverage */
  width: 100%;
  overflow-x: hidden; /* Prevent vertical overflow */
}

.header-container {
  display: flex;
  height: 96px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f4f1e6; /* Light cream background */
}

.landing-page-title {
  color: var(--Grass-Green, #82a36b);
  text-shadow: 4px 4px 0px #3c3c3b;
  /* Display Heading */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3c3c3b;
  font-family: "Milky Vintage";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.nav-left {
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.nav-right {
  display: flex;
  width: 245.162px;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.cart-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none; 
    background: transparent;
  }
  
  .cart-button svg {
    width: 30px;
    height: 30px;
  }

/* Carousel styling*/

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #e2d7c3;
  padding: 10px;
}

.carousel-track {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

.carousel-item {
  display: inline-block;
  margin-right: 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Seasonal Produce Header */

.seasonal-produce-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Set a fixed height matching the underlying box */
    flex-shrink: 0;
    align-self: stretch;
  }
  
  .overlay-text {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--Golden-Squash, #E9B44C);
    text-shadow: 4px 4px 0px #3c3c3b;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3c3c3b;
    font-family: "Milky Vintage";
    font-size: 112px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    pointer-events: none;
  }